<div class="jumbotron center">
	<h1>Welcome to The Tasty Recipes App</h1>

	<h2>Interested? Sign up and add your favorite recipe.</h2>

	<%= link_to "Join The Fun!", register_path, class: "btn btn-lg border-blue-join" %>
</div>
<div class="row">
	<div class="col-lg-4">
		<h3 class="midrow">View Recipes As Guest User</h3>
		<h2 class="left">Browse and View Recipes as A Guest and Sign Up Later</h2>
		<p><%= link_to "Browse Recipe Listings", recipes_path, class: "btn btn-warning btn-small border-blue-browse"%></p>
	</div>
		<div class="col-lg-4">
		<h3 class="midrow">Log in to your account</h3>
		<h2 class="left">Add/Update your recipes | Write Reviews | Like/Dislike Recipes </h2>
		<p><%= link_to "Log In", login_path, class: "btn btn-warning btn-small border-blue-browse"%></p>
	</div>
		<div class="col-lg-4">
		<h3 class="midrow">View Recipes As Guest User</h3>
		<h2 class="left">Browse and View Recipes as A Guest and Sign Up Later</h2>
		<p><%= link_to "Browse Recipe Listings", "", class: "btn border-blue-browse btn-small"%></p>
	</div>
</div>