$navbar-default-bg: #2c3e50;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 80px;
}

#logo {
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	margin-right: 10px;
	font-size: 2em;
	color: #1abc9c;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
}

#logo:hover{
	background-color: #1abc9c;
	border: 1px solid #2c3e50;
	color: white;
}

.nav_item {
	margin-left: 25px;
	float: left;
	margin-top: 20px;
}



.center {
	text-align: center;

}

h1,h2,h3,h4 {

	line-height: 1;
}

h1{
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
	color: #eee;

}
h2 {
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 30px;
	text-align: center;
	color:#777;
}

.left {
	text-align: left;
	letter-spacing: .5px;
}

.footer{
	margin-top: 25px;
	border-top: 1px solid #eaeaea;
	color: #777;

}

.border-blue {
	background-color: white;
	border: 1px solid #1abc9c;
	color: #1abc9c;

}

.border-blue:hover {
	background-color: #1abc9c;
	border: 1px solid #2c3e50;
	color: white;

}
.border-blue-join {
	background-color: white;
	border: 1px solid #1abc9c;
	color: #1abc9c;

}
.border-blue-join:hover {
	background-color: #1abc9c;
	border: 1px solid #bdc3c7;
	color: white;

}

.boder-blue-logo {

	background-color: white;
	border: 1px solid #1abc9c;
	
}
.border-blue-browse {
	background-color: white;
	border: 1px solid #1abc9c;
	color: #1abc9c;

}

.border-blue-browse:hover {
	background-color: #1abc9c;
	border: 1px solid white;
	color: white;

}



