<header class="navbar navbar-fixed-top navbar-default">
	<div class="container">
		<%= link_to "MyRecipes", "", class: "btn btn-lg boder-blue-logo", id: "logo" %>
			<div class="nav_item">
				<%= link_to "link 1", "", class: "btn btn-default border-blue" %>
			</div>
			<div class="nav_item">
				<%= link_to "link 2", "", class: "btn btn-default border-blue" %>
			</div>
			<div class="nav_item">
				<%= link_to "link 3", "", class: "btn btn-default border-blue" %>
			</div>
</div> <!-- end container -->
</header>